*.log
*.pot
*.pyc
*.sqlite
settings/local.py
*.sqlite3
.idea
media
.DS_Store
*~
.env
env
venv
.static
*_real.json
celerybeat-schedule
private_data
setup.sh
node_modules
redis-stable.tar.gz
redis-stable
sources/build.ignore.js
static/css/generated
